version: '3'

services:
  app1:
    build: .
    environment:
      - APP_NAME=App1
    networks:
      - app-network

  app2:
    build: .
    environment:
      - APP_NAME=App2
    networks:
      - app-network

  app3:
    build: .
    environment:
      - APP_NAME=App3
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    depends_on:
      - app1
      - app2
      - app3
    networks:
      - app-network

networks:
  app-network:
    driver: bridge